@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

$fontRedressed: 'Redressed';
$fontFredoka  : 'Fredoka';
$font         : sans-serif;
$primary      : #333;
$secondary    : #999;
$blue_dark    : #0b6aa9;
$greenUp      : #2ee59d;
$redDown      : rgb(226, 43, 43);
$gold_dark    : rgba(255, 217, 0, 0.986);
$colorBackground: rgba(238, 237, 237, 0.918);